.opacity_anim {
	-webkit-animation: opacity_anim 0.5s ease-out both;
	animation: opacity_anim 0.5s ease-out both;
}
.opacity_anim-1d {
	-webkit-animation: opacity_anim 0.5s ease-out both;
	animation: opacity_anim 0.5s ease-out both;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.opacity_anim-2d {
	-webkit-animation: opacity_anim 0.5s ease-out both;
	animation: opacity_anim 0.5s ease-out both;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.slide-top {
	-webkit-animation: slide-top  1s alternate infinite;
	animation: slide-top  1s alternate infinite;
}
/**
 * ----------------------------------------
 * animation opacity_anim
 * ----------------------------------------
 */
@-webkit-keyframes opacity_anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes opacity_anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(7px);
		transform: translateY(7px);
	}
}
@keyframes slide-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(7px);
		transform: translateY(7px);
	}
}


/*SignUp Modal */
input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  .clearfix .signupbtn {
    background-color: rgb(98, 148, 23);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  
  /* Add padding to container elements */
  .modal-signup .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal-signup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 54px;
  }
  
  /* Modal Content/Box */
  .modal-content-signup {
    background-color:#fefefe;
    margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 51.5%; /* Could be more or less, depending on screen size */
  }
  
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 295px;
    top: 170px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(110, 105, 105);
  }
  
  .signupbtn:hover,
  .signupbtn:focus {
    color:white;
    cursor: pointer;
    background-color: rgb(112, 174, 19);
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }
/* SignUp Modal */
/* -------------------------------------------------------------------------------- */
/* Login Modal */

input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  .clearfix .loginbtn {
    background-color: rgb(98, 148, 23);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  
  /* Add padding to container elements */
  .modal-loginIn .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal-loginIn {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 54px;
  }
  
  /* Modal Content/Box */
  .modal-content-loginIn {
    background-color:#fefefe;
    margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 51.5%; /* Could be more or less, depending on screen size */
  }
  
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 295px;
    top: 170px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(110, 105, 105);
  }
  
  .loginbtn:hover,
  .loginbtn:focus {
    color:white;
    cursor: pointer;
    background-color: rgb(112, 174, 19);
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .loginbtn {
       width: 100%;
    }
  }
/* Login Modal */